# -----------------------------------------
# Arquivos do LuaRocks
# -----------------------------------------
*.rock
*.rockspec
.lua_modules/
luarocks/

# Cache do LuaRocks
.luarocks/

# -----------------------------------------
# Arquivos temporários de execução
# -----------------------------------------
*.out
*.tmp
*.swp
*.swo
*.bak

# -----------------------------------------
# Binários / builds
# -----------------------------------------
*.exe
*.dll
*.so
*.dylib
build/
dist/

# -----------------------------------------
# Logs
# -----------------------------------------
*.log

# -----------------------------------------
# Ferramentas / IDEs
# -----------------------------------------
.vscode/
.idea/
*.code-workspace

# -----------------------------------------
# Arquivos do macOS
# -----------------------------------------
.DS_Store

# -----------------------------------------
# Arquivos do Windows
# -----------------------------------------
Thumbs.db
desktop.ini

# -----------------------------------------
# Outras pastas comuns
# -----------------------------------------
node_modules/
tmp/
cache/
